/* pc font app.css */
body {
  font-size: 110%;
}

.profile-icon {
    display: inline;
    width: 40px;
    max-height: 40px;
    border-radius: 50%;
}

.post-container {
    position: relative;
}

.post-button {
    position: absolute;
    right: 1%;
    bottom: 1%;
}

.edit-button {
  position: absolute;
  right: 1%;
  bottom: 1%;
}

.form-select-wrap{
  display: flex;
  max-width: 300px;
  align-items: center;
}

.form-select-wrap > select{
  padding: 8px 16px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 14px;
}

.config-icon {
  width: 40px;
  max-height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.config-icon {
  width: 40px;
  max-height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}


.post-image {
    max-width: 100%;
    max-height: 400px;
}

/* name, id, timestamp */
.name-wrapper {
  position: relative;
}

/* 削除, リアクション */
.reaction-wrapper {
  display: inline-block;
  position: relative;
}

.reaction-wrapper span {
  color: #777;
  position: absolute;
  top: -17px;
  font-size: 20px;
  cursor: pointer;
}

.reaction-modal {
  position: absolute;
  top: -46px;
  right: -91px;
  width: 200px;
  height: 60px;
  background-color: #e0edff;
}

.reaction-modal:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
}



.reaction-icons {
  user-select: none;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.reaction-icons img {
  max-height: 20px;
}

.reaction-icons li {
  margin-left: 10px;
}

.reaction-icons a {
  text-decoration: none;
}

/* リアクションのbtn-infoのhoverを削除する */
.add-reaction {
  background-color: #c7d8ff !important;
  margin-bottom: 5px;
}

.not-like-link {
  text-decoration: none;
  color: #212529;
}

.add-reaction:hover {
  background-color: #c7d8ff;
}

.clearButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/* スマホのフォントサイズ */
@media screen and (max-width: 767px) {
  body {
    font-size: 90% !important;
  }

  .reaction-modal {
    right: -32px;
    top: -45px;
    width: 200px;
    height: 50px;
  }

  .reaction-modal:before {
    left: 78%;
  }
}
