/* pcフォントサイズ */
body {
  font-size: 110%;
}

.profile-icon {
    display: inline;
    width: 40px;
    max-height: 40px;
    border-radius: 50%;
}

.post-container {
    position: relative;
}

.post-button {
    position: absolute;
    right: 1%;
    bottom: 1%;
}

.post-image {
    max-width: 100%;
    max-height: 400px;
}

/* name, id, timestamp */
.name-wrapper {
  position: relative;
}

/* 削除, リアクション */
.reaction-wrapper {
  display: inline-block;
  position: relative;
}

.reaction-wrapper span {
  color: #777;
  position: absolute;
  top: -17px;
  font-size: 20px;
  cursor: pointer;
}

.reaction-modal {
  position: absolute;
  top: -16px;
  right: -91px;
  width: 190px;
  height: 30px;
  background-color: #e0edff;
}

.reaction-modal:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
}



.reaction-icons {
  user-select: none;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.reaction-icons img {
  max-height: 20px;
}

.reaction-icons li {
  margin-left: 10px;
}

.reaction-icons a {
  text-decoration: none;
}

/* リアクションのbtn-infoのhoverを削除する */
.add-reaction {
  background-color: #c7d8ff;
  margin-bottom: 5px;
}

.add-reaction:hover {
  background-color: #c7d8ff;
}

/* スマホのフォントサイズ */
@media screen and (max-width: 767px) {
  body {
    font-size: 90%;
  }

  .reaction-modal {
    right: -32px;
    top: -25px;
    width: 180px;
    height: 28px;
  }

  .reaction-modal:before {
    left: 78%;
  }
}
